 @font-face {
     font-family: 'Comfortaa Regular';
     src: url('./assets/fonts/Fonts/Comfortaa-Regular.ttf') format('truetype');
 }

 @font-face {
     font-family: 'Cinzel-Regular';
     src: url('./assets/fonts/Fonts/Cinzel-Regular.ttf') format('truetype');
 }


 .carre {
     position: absolute;
     border: solid 3px white;
     width: 175px;
     margin-top: 1%;
     /* margin-left: 21%; */
     background-color: #AF0102;
     color: white;
     font-size: 15px;
     padding-top: 5px;
     padding-left: 5px;
     padding-bottom: 5px;
 }

 p {
     color: grey;
 }

 .descente {
     margin-top: 7%;
 }

 .center {
     display: flex;
     text-align: justify;
 }

 .center img {
     margin-left: 10%;
     width: 100%;
 }

 .texte {
     /* max-width: 25%; */
     padding-top: 25px;
     margin-left: 40px;
 }

 .paragraphe {
     padding-top: 7%;
     color: #A0A0A0;
 }


 .text2 {
     color: #A0A0A0;
     margin-left: 10%;
     /* margin-right: 30%; */
     text-align: justify;
     margin-top: 25px;
 }



 .banner-img {
     height: 400px;
     object-fit: cover;
     position: relative;
     width: 100%;
 }

 .conteneur {
     position: absolute;
     top: 0;
     height: 400px;
     width: 100%;
     background: black;
     opacity: 0.8;
     /* display: flex; */
 }


 .nav {
     font-size: 20px;
     margin-right: auto;
     display: flex;
     justify-content: flex-end;
     margin-right: 10%;
 }


 .nav a {
     color: white;
 }

 .logo {
     height: 320px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin-top: 8%; */
 }

 .footer {
     margin-top: 8%;
     height: 250px;
     background-image: url("https://raw.githubusercontent.com/JeanFabry/main-eventer/master/assets/images/Images/swirl_pattern.png");
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }

 .text {
    display: flex; 
    color: black;
     height: 70px;
     font-size: 40px;


 }

 .reseau {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     height: 60px;
     width: 400px;



 }

 .reseau img {
     height: 50px;
     width: 50px;
 }




 /*CONTAINER + CARDS */

 .ourEvents {
     margin-top: 3%;
     /* display: flex;
    flex-direction: column;
    width:1000px */
 }

 .container_ourEvents_cards {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 10%;
 }

 .container_ourEvents_cards .card {
     display: flex;
     text-align: center;
     justify-content: space-around;
     margin: 5%;
     border-radius: 0;
 }

 /* .cardwidth {
     max-width: 300px;
 }

 .card{ justify-content: space-around;} */

 .ourEvents_title {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-right: 25px;
 }

 .card-subtitle {
     margin: 1% 0;
 }

 .card-headers {
     padding: .75rem 1.25rem;
     margin-bottom: 0;
     background-color: #b20c0d;
     border-bottom: 1px solid rgba(0, 0, 0, .125)
 }

 .text-cardheader {
     color: #fff;
     font-size: 25px;
 }

 .ourEvents h2 {
     margin: auto 15%;
 }

 /* TITRES POUR TOUTE LA PAGE */

 h2 {
     font-family: 'Comfortaa Regular';
     font-weight: bold;
     font-size: 50px;
 }

 h2:after {
     content: "";
     /* This is necessary for the pseudo element to work. */
     display: block;
     /* This will put the pseudo element on its own line. */
     margin: 0 auto;
     width: 80%;
     padding-top: 5px;
     border-bottom: 4px solid #b20c0d;

 }



 .form {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-top: 8%;
 }

 form {
     width: 85%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-top: 3%;
     font-size: 22px;
 }

 form .names {
     display: flex;
     justify-content: space-between;
     /* flex-wrap: wrap; */
 }


 .names .details {
     width: 100%;
 }

 .details .form-length,
 .form-group .form-length {
     border: 1px solid #AF0304;
     border-radius: 20px;
     display: list-item;
     height: 35px;
 }

 .form-group .form-control {
     border-color: #AF0304;
     border-radius: 20px;
     display: list-item;
     height: 200px;
 }

 .form .form-group {
     margin-top: 5%;
 }


 button.roundCorners {
     border-radius: 15px;
     background-color: white;
     border: 2px solid #AF0304;
     color: #AF0304;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     cursor: pointer;
     width: 150px;
 }

 button:hover {
     background-color: #AF0304;
     color: white;
     border-radius: 15px;
 }

 .ourTeam {
     margin-top: 8%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 article.team {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     /* margin-left: 7%;
     margin-right: 7%; */
 }

 /* .manager p {
    max-width: 60%;
} */


 .leftManagers,
 .rightManagers {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-content: center;
     margin: 5%;
 }

 .manager {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: auto;
     margin-bottom: 5%;
 }

 .manager img {
     border-radius: 50%;
     max-width: 150px;
 }

 .manager .manaDescription {
     margin-left: 3%;
     max-height: 80%;
     background-size: contain;
     font-size: 14px;

 }

 .manager .manaDescription h5 {
     background-color: #C34141;
     width: 75px;
     color: white;
     text-align: center;
 }

 /* Media only for mobile*/
 @media only screen and (max-width: 640px) {
     .logo {
         height: 140px;
     }

     .logo img {
         width: 100px;
     }

     .banner-img {
         height: 200px;
     }

     .conteneur {
         height: 200px;
         width: 100%;
         background: black;
         opacity: 0.8;
         /* display: flex; */
     }

     .center {
         display: flex;
         text-align: justify;
         flex-wrap: wrap;
     }

     .nav {
         font-size: 12px;
     }

     .team {
         margin-top: 8%;
         display: flex;
         flex-wrap: wrap;
     }

     .manager img {
         border-radius: 50%;
         width: 220px;
     }

         .leftManagers,
         .rightManagers {
             margin: 0%;
         }
     .ourEvents {
         margin: 8% 0;
     }

     .ourEvents h2 {
         margin:auto 0% auto 8%;
     }

     .titles {
        font-size: 25px;
     }

     .container_ourEvents_cards {
         flex-wrap: wrap;
         margin-top: 8%;
     }

     form .names {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .reseau {
        max-width: 300px;
        margin: 0;
    }

    .footer {
        height: 150px;
    }

    .text {
        font-size: 30px;
        align-items: center;
    }
        }


     /* Media only for Tablet*/
     @media only screen and (min-width: 641px) and (max-width: 1007px) {
        .logo {
            height: 220px;
        }
   
        .logo img {
            width: 200px;
        }
   
        .banner-img {
            height: 300px;
        }
   
        .conteneur {
            height: 300px;
            width: 100%;
            background: black;
            opacity: 0.8;
            /* display: flex; */
        }
    
        .center img {
            margin:0 0 0 5%;
        } 

        .texte {
            width:95%;
        }

        .text2 {
            margin-left: 0;
        }
   
        .nav {
            font-size: 18px;
        }
   
        .team {
            margin-top: 8%;
            display: flex;
            flex-wrap: wrap;
        }
   
        .manager img {
            border-radius: 50%;
            width: 220px;
        }
   
            .leftManagers,
            .rightManagers {
                margin: 0%;
            }
        .ourEvents {
            margin: 8% 0;
        }
   
        .ourEvents h2 {
            margin:auto 0% auto 8%;
        }
   
        .titles {
           font-size: 25px;
        }
   
        .container_ourEvents_cards {
            flex-wrap: wrap;
            margin-top: 8%;
        }
   
        form .names {
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
       }

       .lastNameSpace {
           margin-top: 3%;
       }
   
       .reseau {
           max-width: 300px;
           margin: 0;
       }
   
       .footer {
           height: 150px;
       }
   
       .text {
           font-size: 30px;
           align-items: center;
       }
     }

     /* Media only for Larger screens*/
     @media only screen and (min-width: 1008px) {}